<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="intro">
    <h1>Formulaire Patient</h1>

    <h2 *ngIf="isEditMode">Modifier le patient</h2>
    <button class="bouton_green" mat-raised-button color="primary" *ngIf="!isEditMode">Créer</button>
    <button mat-raised-button color="primary" *ngIf="isEditMode">Modifier le client</button>
  </div>
  <div class="fond__formulaire informations">
    <h3>Informations</h3>
    <mat-radio-group formControlName="gender" style="display: flex; align-items:center;margin-top: -20px;">
      <mat-radio-button value="Femme" style="margin-right: 10px;">Femme</mat-radio-button>
      <mat-radio-button value="Homme">Homme</mat-radio-button>

    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label for="firstName">Nom</mat-label>
      <input type="text" matInput formControlName="firstName" name="firstName" id="firstName" value="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="lastName">Prénom</mat-label>
      <input type="text" matInput formControlName="lastName" name="lastName" id="lastName" value="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="height">Taille (en cm)</mat-label>
      <input type="text" matInput formControlName="height" name="height" id="height" value="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="weight">Poids (en kg)</mat-label>
      <input type="number" matInput formControlName="weight" name="weight" id="weight" value="">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="socialNumber">N°Sécurité Sociale</mat-label>
      <input type="text" matInput formControlName="socialNumber" name="socialNumber" id="socialNumber" value="">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="lastSubject">Motif de la dernière visite</mat-label>
      <input type="text" matInput formControlName="lastSubject" name="lastSubject" id="lastSubject" value="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="lastSubject">Date de la dernière visite</mat-label>
      <input type="text" matInput formControlName="lastIncome" name="lastIncome" id="lastIncome" value=""
        placeholder="ex: 01/01/2021">
    </mat-form-field>

    <!--<mat-form-field appearance="outline">
      <mat-label for="lastIncome">Dernière visite</mat-label>
      <input matInput formControlName="lastIncome" name="lastIncome" id="lastIncome" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>-->

    <mat-form-field appearance="outline">
      <mat-label for="bloodGroup">Groupe Sanguin</mat-label>

      <mat-select [formControl]="bloodGroup">
        <mat-option *ngFor="let bloodGroup of bloodGroups" value={{bloodGroup.id}}>{{bloodGroup.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--
    <mat-form-field>
      <mat-label for="document">Poids (en kg)</mat-label>
      <input (change)="onFileSelected()" type="file" id="document">
    </mat-form-field>
    -->
  </div>

  <div class="fond__formulaire notes">

    <h3>Notes</h3>

    <mat-form-field appearance="outline">
      <mat-label for="notes">Note</mat-label>
      <textarea name="notes" matInput formControlName="notes" id="notes" cols="50" rows="10"></textarea>
    </mat-form-field>
  </div>
  <div class="fond__formulaire traitements">
    <h3>Traitements</h3>

    <div formArrayName="treatments">
      <div *ngFor="let treatment of treatments.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Répétitions*</mat-label>
            <mat-select [formControl]="repeat">
              <mat-option value="{{repeat.id}}" *ngFor="let repeat of repeats">{{repeat.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Durée*</mat-label>
            <mat-select [formControl]="duration">
              <mat-option value="{{period.id}}" *ngFor="let period of periods">{{period.label}}
              </mat-option>
            </mat-select>
            <mat-hint align="end">Choisir la durée</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Médicaments*</mat-label>
            <mat-select [formControl]="drug">
              <mat-option value="{{drug.id}}" *ngFor="let drug of drugs">{{drug.label}}</mat-option>
            </mat-select>
            <mat-hint align="end">Choisir le médicament</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div style="width:100%">
      <button mat-raised-button type="button" (click)="addTreatment()">Ajouter une tâche</button>

    </div>
  </div>


</form>