<h1 mat-dialog-title>Ajouter un traitement</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="submit()" class="traitement__form">

    <mat-form-field appearance="outline">
      <mat-label>Médicaments*</mat-label>
      <mat-select [formControl]="drug">
        <mat-option value="{{drug.id}}" *ngFor="let drug of drugs">{{drug.label}}</mat-option>
      </mat-select>
      <mat-hint align="end">Choisir le médicament</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Répétitions*</mat-label>
      <mat-select [formControl]="repeat">
        <mat-option value="{{repeat.id}}" *ngFor="let repeat of repeats">{{repeat.label}}</mat-option>
      </mat-select>
      <mat-hint align="end">Choisir la répétition</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Durée*</mat-label>
      <mat-select [formControl]="duration">
        <mat-option value="{{period.id}}" *ngFor="let period of periods">{{period.label}}
        </mat-option>
      </mat-select>
      <mat-hint align="end">Choisir la durée</mat-hint>
    </mat-form-field>





    <button mat-raised-button color="primary" type="submit">Créer</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>