<div class="content content__header">
  <div>
    <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
  </div>

  <div class="div">
    <a mat-raised-button class="button__default" color="default" [routerLink]="['../', patient.id, 'edit']">Modifier</a>
    <a mat-raised-button class="button__default" color="default" href="tel:0123456789">Appeler</a>

    <button class="button__delete__patient" mat-button (click)="delete()">Archiver</button>
  </div>

</div>

<div class="content">

  <mat-card class="card informations">
    <mat-card-header>
      <mat-card-title>
        <h3>Informations</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><span>Genre:</span> {{ patient.gender }}</p>
      <p><span>Taille:</span> {{ patient.height }}</p>
      <p><span>Poids:</span> {{ patient.weight }}</p>
      <div *ngFor="let bloodGroup of bloodGroups">
        <p *ngIf="bloodGroup.id == patient.bloodGroup"><span>Groupe sanguin:
          </span>
          {{ bloodGroup.label }}
        </p>
      </div>

      <p><span>N° Sécu:</span> {{ patient.socialNumber }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card notes">
    <mat-card-header>
      <mat-card-title>
        <h3>Notes</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> {{ patient.notes }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card documents">
    <mat-card-header>
      <mat-card-title>
        <h3>Documents</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let document of patient.documents">
        <p> {{document.name}}
        </p>
      </div>


      <form>
        <div class="form-group">
          <label for="file">File</label>
          <input type="file" class="file-upload" onchange="console.log(event.target.files)">
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

          <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>
      </form>

    </mat-card-content>
  </mat-card>

  <mat-card class="card traitements">
    <mat-card-header>
      <mat-card-title>
        <h3>Traitements</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div *ngFor="let traetment of patient.treatments">
        <p> {{traetment.drug}} le {{traetment.repeat}} pendant {{traetment.duration}}
        </p>
      </div>
      <button mat-button mat-raised-button color="secondary" class="button_ajout_traitement"
        (click)="openDialog()">Ajouter un traitement</button>
    </mat-card-content>
  </mat-card>
</div>