<div class="content">
  <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>

  <a mat-raised-button color="default" [routerLink]="['../', patient.id, 'edit']">Modifier</a>
  <a mat-raised-button color="default">Appeler</a>

  <button class="button__delete__patient" mat-button (click)="delete()">Supprimer</button>
</div>

<div class="content">

  <mat-card class="card informations">
    <mat-card-header>
      <mat-card-title>
        <h3>Informations</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><span>Genre:</span> {{ patient.gender }}</p>
      <p><span>Taille:</span> {{ patient.height }}</p>
      <p><span>Poids:</span> {{ patient.weight }}</p>
      <p><span>Allergies:</span> {{ patient.weight }}</p>
      <p><span>Grupe sanguin:</span> {{ patient.bloodGroup }}</p>
      <p><span>N° Sécu:</span> {{ patient.socialNumber }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card notes">
    <mat-card-header>
      <mat-card-title>
        <h3>Notes</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> {{ patient.notes }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card documents">
    <mat-card-header>
      <mat-card-title>
        <h3>Documents</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let document of patient.documents">
        <p> {{document.name}}
        </p>
      </div>
      <p *ngFor=" let document of patient.documents"> {{document.name}} <a href="{{ document.extension}}">Voir le
          pdf</a></p>

      <input (change)="onFileSelected() " type="file" id="file">

      <pdf-viewer [src]="pdfFilePath" [render-text]="false" style="display: block;"></pdf-viewer>

    </mat-card-content>
  </mat-card>

  <mat-card class="card traitements">
    <mat-card-header>
      <mat-card-title>
        <h3>Traitements</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div *ngFor="let traetment of patient.treatments">
        <p> {{traetment.drug}} le {{traetment.repeat}} pendant {{traetment.duration}}
        </p>
      </div>
      <button mat-button mat-raised-button color="secondary" class="button_ajout_traitement"
        (click)="openDialog()">Ajouter un traitement</button>
    </mat-card-content>
  </mat-card>
</div>