.content.content__header{
  display: flex;
  justify-content: space-between;
  width: 86%;
  padding: 0 15px;
}
.button__delete__patient{
  background: #faa434;
  color: white;
  height: 35px;
  margin-left: 20px;
}
.button__default{
  background: #c7c7c7;
  color: white;
  height: 35px;
  margin-left: 20px;
}
.notes{
  width: 50%;
  margin: 5px 1%;
}
.notes mat-card-content{
  background: rgba(229, 229, 229, 0.5);
border-radius: 5px;
height: 80%;
}
.informations{
  width: 30%;
  margin: 5px 1%;
}
div, .content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.documents, .traitements{
  width: 84.5%;
  margin: 1%;
}
.informations p{width: 100%;}
.informations p span{
width: 140px;
display: inline-block;

}
h3{
  padding: 0;
  margin-left: -15px;
}
.traitement__form{
  display: flex;
  flex-direction: column;
}
.traitement__form input{
  margin: 10px;
}
.button_ajout_traitement{
  min-width: 30%;
  margin-left: 35%;
}