table{
  width: 90%;
  box-shadow: none;
}
th.mat-header-cell{
  border-bottom: 0;
}
td, td.mat-cell, td.mat-footer-cell{
  border: white;
  border-right-width: 80%;
  width: 25%;
  padding-left: 10px;
  border-bottom: 15px solid #fafafa;
  padding-left: 12px;
  position: relative;
  height: 60px;
}
td::after{
  content:'';
  display: block;
  position: absolute;
  right: 0;
  height: 60%;
  top: 20%;
  background-color: #E5E5E5;
  width: 1px;
}
tr,tr.mat-row, tr.mat-footer-row{
  border: 1px solid #E5E5E5;
  margin-bottom: 10px;
}
tr.mat-header-row {
  background: #fafafa;
}
